body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  height: 100vh;
  background: url('assets/Background_metro.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
  padding: 20px;
  margin: 0;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #1e40af;
}

#apresentacao {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container-apresentacao h1 {
  color: #1f2937;
  font-size: 24px;
  margin-bottom: 20px;
}

.container-apresentacao p {
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
  line-height: 1.5;
}