body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  height: 100vh;
  background: url('assets/Background_metro.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
  padding: 20px;
  margin: 0;
}

h2 {
  text-align: center;
  color: #1f2937;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

textarea {
  resize: vertical;
}

input[type="checkbox"] {
  margin-right: 8px;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #1e40af;
}



#mensagem {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.link-politica {
  cursor: pointer;
}

.grifado {
  text-decoration: underline;
  font-weight: bold;
  color: #00070b;
}
.grifado:hover {
  color: #005fa3;
}

